---
import Section from "../system/Section.astro"
import Text from "../system/Text.astro"
import EventCard from "./EventCard.astro"
import event1 from "../../images/events/event1.png"
import event2 from "../../images/events/event2.png"
import event3 from "../../images/events/event3.png"
import testimonial2 from '../../images/testimonial/2.png'
import testimonial3 from '../../images/testimonial/3.png'
import FilledArrowCircle from "../icons/FilledArrowCircle.astro"
import Carousel from "../system/Carousel.astro"
import CarouselCard from "../system/CarouselCard.astro"
import instagramIcon from '../../icons/instagramIcon.svg'

const data = {
    title: 'Little Elly Voices',
    subtitle: 'Stories of Transformation and Growth',
    data: [
      {
        img: event1,
        title: "Sports Day - Where tiny feet chase big dreams",
        desc: 'Our preschoolers are set to display their athletic skills in fun races and relays. From adorable races to playful relays, every moment promises laughter and learning.',
      },
      {
        img: event2,
        title: "Little Ones preparing for annual day",
        desc: "Preschoolers are rehearsing dances and lines, creating a colorful, enthusiastic show. With each twirl and every heartfelt expression, their joy becomes the center stage of this magical celebration.",
      },
      {
        img: event3,
        title: "Creating memories during Pongal",
        desc: 'Little Elly buzzes with unity as children explore harvest festivals. They share stories and festive experiences, embracing diverse cultures.',
      },
    ],
}
---

<Section class="flex flex-col gap-l overflow-hidden" style={{
    background: "linear-gradient(180deg, rgba(217, 233, 255, 0.00) 0%, rgba(251, 222, 206, 0.00) 0.01%, #FBDECE 47.82%)"
}}>
    <div data-appear class="text-center">
        <Text type="h2" class="text-[#253B70]">
            News & <span class="text-red-600">Events</span>
        </Text>
        <Text type="base">
            Stay updated with the latest happenings, follow us at <img src={instagramIcon.src} alt="instagram" class="w-[20px] h-[20px] inline-block" /><a class="text-red-600 underline" href="https://www.instagram.com/littleelly_preschool/" target="_blank">@littleelly_preschool</a>
        </Text>
    </div>
    <Carousel
    arrowsContainerClass="mt-4"
    class="gap-m overflow-scroll w-fit max-md:w-[unset] mx-auto"
    id="news-events-carousel"
  >
    
      {data.data.map((item, index) => (
          <CarouselCard>
            <EventCard {...item} />
            </CarouselCard>
        ))}
  </Carousel>

<!--   
    <div class="flex w-[160px] justify-between">
        <FilledArrowCircle
            svgClass={"w-[58px] h-[58px] max-md:w-[80px] max-md:h-[80px] rotate-180"}
            color={"#EE7F82"}
      />
        <FilledArrowCircle
        svgClass={"w-[58px] h-[58px] max-md:w-[80px] max-md:h-[80px]"}
        color={"#EE7F82"}
      />
      </div>
     -->
</Section>