---
import Layout from "../layouts/Layout.astro";

// import Hero from '../components/Hero.astro';
import TopNavigationBar from "../components/TopNavigationBar.astro";

import Collapsible from "../components/admissions/Collapsible.astro";

// import Scholarship from '../components/register/scholarship.astro';
import RegisterForm from "../components/admissions/admissionForm.astro";
import "../global.css";

import "@fontsource/nunito-sans";

import Footer from "../components/landingPage/Footer.astro";
import Text from "../components/system/Text.astro";

import { Image } from "astro:assets";

import PrePrimaryBG from "../images/curriculum/prePrimary.png";
import PrimaryBG from "../images/curriculum/primary.png";
import MiddleAndHighBG from "../images/curriculum/middle&High.png";


import Section from "../components/system/Section.astro";
import Slide from "../components/system/Slide.astro";

// import slide1 from "../image/slides/1.jpeg";
// import slide2 from "../image/slides/2.jpeg";
// import slide3 from "../image/slides/3.jpeg";


import slide1 from "../images/slides/1.png";
import slide2 from "../images/slides/2.png";
import slide3 from "../images/slides/3.png";


import slide1MB from "../image/slides/mb/special/1.png";
import slide2MB from "../image/slides/mb/special/3.png";
import slide3MB from "../image/slides/mb/2.png";

import PhoneWhite from "../icons/PhoneWhite.svg";
import Testimonial from "../components/landingPage/Testimonial.astro";
import TestimonicalCard from "../components/landingPage/TestimonicalCard.astro";

const faqs = [
  {
    question: "Payment Terms & Conditions",
    answer: "",
  },
  {
    question: "What are the admission requirements?",
    answer: "",
  },
  {
    question: "Is there an application deadline for admissions?",
    answer: "",
  },
  {
    question: "What are the tuition fees for the programs?",
    answer: "",
  },
  {
    question: "How do I schedule a campus visit?",
    answer: "",
  },
];
---

<Layout
  title="Admissions | Best International K12 Primary Schools South bengalore Electronic City"
>
  <main class="flex flex-col min-h-screen max-md:h-auto w-screen relative">
    <div
      class="flex-1 flex flex-col main-container max-md:h-auto min-h-screen w-screen"
      id="scroll-area"
      style={{
        overflowY: "overlay",
        overflowX: "hidden",
      }}
    >
      <div class="flex flex-col max-md:h-auto min-h-screen relative">
        <TopNavigationBar hideMenu applyNowButtonId="register-page-apply-now" />

        <div
          class="w-full flex-1 h-full relative p-12 py-[7rem] flex flex-row max-md:flex-col justify-between items-center max-md:p-8 max-md:px-4"
        >
          <div class="w-full h-full absolute top-0 left-0 max-md:hidden">
            <Slide
              slides={[
                {
                  image: slide1,
                  image_mobile: slide1MB,
                  position: "bottom",
                },
                {
                  image: slide2,
                  image_mobile: slide2MB,
                  position: "center",
                },
                {
                  image: slide3,
                  image_mobile: slide2MB,
                  position: "bottom",
                },
              ]}
              id="resiter-page-hero"
            />
          </div>

          <div
            class="w-full h-[110svh] absolute top-0 left-0 bg-red-100 hidden max-md:block"
          >
            <Slide
              slides={[
                {
                  image: slide1MB,
                  image_mobile: slide1MB,
                  position: "center",
                },
                {
                  image: slide2MB,
                  image_mobile: slide2MB,
                  position: "center",
                },
                {
                  image: slide3MB,
                  image_mobile: slide3MB,
                  position: "center",
                },
              ]}
              id="resiter-page-hero-mb"
            />
          </div>

          <div
            class="absolute w-full h-full top-0 left-0
              bg-[linear-gradient(183deg,_rgba(0,_66,_29,_0.00)_31.29%,_#000_97.19%)]
              max-md:bg-[linear-gradient(180deg,_rgba(0,_66,_29,_0.10)_10.71%,_#000_35.19%)]
              z-20 block max-md:flex flex-col items-center"
            style={{
              // background: 'linear-gradient(183deg, rgba(0, 66, 29, 0.00) 31.29%, #000 97.19%)',
              // 'linear-gradient(321deg, rgba(0, 66, 29, 0.10) -2.71%, #000 101.19%)'
            }}
          >
          </div>

          <div class="max-md:p-[24svh] max-md:block hidden"></div>

          <div
            class="h-full flex flex-row relative z-20 max-md:w-max max-md:self-center self-end"
          >
            <div
              class="flex flex-col items-start max-md:items-center mb-10 max-md:mb-2"
            >
              <Text type="h1" class="text-white text-center">
                Happy Child, Happy Families
              </Text>
              <div class="pt-2"></div>
              <Text
                type="lg"
                class="text-white max-md:text-center max-md:text-[15px] max-md:w-full"
              >
                Admissions open from Toddler program to UKG
              </Text>
              <div
                class="pt-[36px] max-md:pt-[24px]"
                id="register-form-container-mobile"
              >
              </div>
              <!-- <div class="w-[382px] max-md:w-[85%]">
                <Image src={awards} class="w-full" alt="Glentree Rank 1: " />
              </div> -->
            </div>
          </div>
          <div class="max-md:py-0"></div>
          <RegisterForm />
        </div>
        <!-- <AdmissionMarquee class="max-md:!hidden" /> -->
        <!-- <div class="w-[50px] h-[50px] down-arrow-button transition-all duration-500 rounded-[50%] bg-accent border-accent/60 border-[4px] absolute top-[97vh] left-[50%] z-[9999] flex items-center justify-center max-md:hidden">
          <div class="w-[18px] h-[9px] down-arrow-icon">
            <Image src={DownArrow} alt="Down Arrow" class="w-full h-full object-cover" />
          </div>
        </div> -->
      </div>

      <Section class="w-full flex flex-col items-center bg-[#FDF2E5]">
        <Text type="h1" class="text-[#253B70]">Admission <span class="not-italic text-red-400">Process</span></Text>
        <div class="pt-[60px]"></div>
        <div class="flex flex-col gap-10">
          <div class="flex flex-row gap-10">
            <div class="flex flex-col items-center">
              <!-- <Text type="subtitle" class="text-[#1C1C1C]/50">STEP</Text> -->
              <div class="w-[150px] h-[150px] bg-[radial-gradient(50%_50%_at_50%_50%,_#A5D27C_0%,_#89BB5B_100%)] flex justify-center items-center rounded-full border-2 border-[#B6E28E] rotate-[-21.75deg]">
                <Text type="h2" class="text-white relative top-2 !text-[96px]" style="text-shadow: 0px 1.554px 0px #76A848;">01</Text>
              </div>
            </div>
            <div>
              <Text type="h2" class="text-[#A5D27C] max-md:text-[22px]">
                IDENTIFYING THE RIGHT PROGRAM
              </Text>
              <div class="p-1 max-md:p-1"></div>
              <Text type="base">
                The age criteria is calculated as on June i.e. beginning of the academic year. <br> Eg: for a child to be eligible for nursery for AY 2024/25, he/she should be 2+ as of June 2024.
              </Text>
            <div class="pt-4">
              <div class="flex flex-row gap-[20px] max-md:gap-[10px]">
                <div class="w-[20%]">
                  <Text
                    type="base"
                    class="bg-[#FFE3C1] py-[7px] text-primary font-bold text-center"
                  >
                    Grade
                  </Text>
                  <div
                    class="w-full py-[30px] max-md:py-[15px] max-md:px-[30px] flex flex-col gap-[13px] bg-white text-primary text-center [&>*]:min-w-max"
                  >
                    <Text type="base">Toddler</Text>
                    <Text type="base">Playgroup</Text>
                    <Text type="base">Nursery</Text>
                    <Text type="base">LKG</Text>
                    <Text type="base">UKG</Text>
                  </div>
                </div>
                <div class="w-[20%]">
                  <Text
                    type="base"
                    class="bg-[#FFE3C1] py-[7px] text-black font-bold text-center"
                  >
                    Age
                  </Text>
                  <div
                    class="w-full py-[30px] max-md:py-[15px] px-[48px] max-md:px-[20px] flex flex-col gap-[13px] bg-white text-black text-center [&>*]:min-w-max"
                  >
                    <Text type="base">1 Years</Text>
                    <Text type="base">2 Years</Text>
                    <Text type="base">3 Years</Text>
                    <Text type="base">4 Years</Text>
                    <Text type="base">5 Years</Text>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="flex pt-10 flex-row gap-10">
            <div class="flex flex-col items-center">
              <div class="w-[150px] h-[150px] bg-[#FF7162] flex justify-center items-center rounded-full border-2 border-[#F9A3A4] rotate-[-21.75deg]">
                <Text type="h2" class="text-white relative top-2 !text-[96px]" style="text-shadow: 0px 1.554px 0px #E26265;">02</Text>
              </div>
            </div>
            <div>
              <Text type="h2" class="text-[#FF7162] max-md:text-[22px]">
                ONLINE APPLICATION FORM
              </Text>
              <div class="p-1 max-md:p-1"></div>
              <Text type="base">
                To apply, you can either click the Apply Now button on our website to send us your inquiry, or call us at <a class ="underline" href="tel:+9108048535968">+91 080-48535968 </a>/ <a class ="underline" href="tel:+9108048535969">+91 080-48535969.</a>  Pre - admission  meeting between the center head and the child along with the parents / guardian is mandatory. 
              </Text>
            </div>
          </div>
          <div class="flex pt-10 flex-row gap-10">
            <div class="flex flex-col items-center">
              <div class="w-[150px] h-[150px] bg-[radial-gradient(50%_50%_at_50%_50%,_#C8AEF5_0%,_#A87BF6_100%)] flex justify-center items-center rounded-full border-2 border-[#C7ADF5] rotate-[-21.75deg]">
                <Text type="h2" class="text-white relative top-2 !text-[96px]" style="text-shadow: 0px 1.554px 0px #A073EE;">03</Text>
              </div>
            </div>
            <div>
              <Text type="h2" class="text-[#B892F9] max-md:text-[22px]">
                DOCUMENT SUBMISSIONS
              </Text>
              <div class="p-1 max-md:p-1"></div>
              <Text type="base">
                You are required to submit the following documents to the school: <ul>
                  <li> • Application for admission form and student profile - fully completed and signed,</li>
                  <li> • One updated copy of Medical / Immunization record of the student,</li>
                  <li> • Four (4) passport size photographs of the student,</li>
                  <li> • One copy of student's birth certificate,</li>
                  <li> • Letter of Reference (Academic / Behaviour) and Report Card from the last school attended (Applicable only for KG admissions)</li>
                </ul>
              </Text>
            </div>
          </div>
        </div>
      </Section>


  <Testimonial/>

    <Footer />

    <!-- <a href="tel:7676310000">
      <div class="fixed w-full h-14 bg-green-600 bottom-0 left-0 z-10 hidden max-md:flex items-center justify-center gap-4">
        <div class="w-4 h-4">
          <Image src={PhoneWhite} alt="Phone" class="w-full h-full object-cover" />
        </div>
        <Text type="sm">+91 76763 10000</Text>
      </div>
    </a> -->
  </main>
</Layout>

<style>
  .float {
    position: fixed;
    /* background-color:#25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float {
    margin-top: 16px;
  }

  .down-arrow-button {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    overflow: hidden;
  }

  .down-arrow-button:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    animation: shineDownArrow 3s ease-out infinite;
  }

  @keyframes shineDownArrow {
    0% {
      left: -100px;
    }
    20% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  /* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    } */
  /* } */
</style>

<script>
  // @@ts-ignore

  // dev script temp
  const applyNowButtons = document.querySelectorAll(
    `[data-apply-now-button="register-page-apply-now"]`
  );
  applyNowButtons.forEach((applyNowButton) => {
    applyNowButton?.addEventListener("click", () => {
      if (window.innerWidth > 768) {
        const registerFormContainer = document.getElementById(
          "register-form-container-desktop"
        );
        registerFormContainer?.scrollIntoView({ behavior: "smooth" });
      } else {
        const registerFormContainer = document.getElementById(
          "register-form-container-mobile"
        );
        registerFormContainer?.scrollIntoView({ behavior: "smooth" });
      }
    });
  });

  import collapsible, {
    openCollapsible,
  } from "../components/admissions/collapsible";
  collapsible(".collapsible", null);

  const downArrowButton = document.querySelector(".down-arrow-button");
  document.addEventListener("scroll", (e) => {
    // after scrolling 100px, show the button
    if (window.scrollY > window.innerHeight / 5) {
      downArrowButton?.classList.add("opacity-0");
    }
  });
  const mainContainer = document.querySelector(".main-container");
  if (mainContainer) {
    // scroll to end
    // mainContainer.scrollTo(0, mainContainer.scrollHeight)
  }

  // document.addEventListener('scroll', (e) => {

  //   if (whatsAppButton) {
  //     if (window.scrollY > 100) {
  //       whatsAppButton?.classList.add('opacity-1')
  //       whatsAppButton?.classList.remove('opacity-0')
  //     } else {
  //       whatsAppButton?.classList.remove('opacity-1')
  //       whatsAppButton?.classList.add('opacity-0')
  //     }
  //   }
  // })
</script>
