---
import Layout from "../layouts/Layout.astro";

import TopNavigationBar from "../components/TopNavigationBar.astro";
import Why from "../components/landingPage/why.astro";
import Testimonial from "../components/landingPage/Testimonial.astro";
import Footer from "../components/landingPage/Footer.astro";
import GoToCta from "../components/GoToCta.astro";
import AnotherHero from "./AnotherHero.astro";
import DaycareFacilities from "./daycare-facilities.astro";
import "../global.css";


import config from "../../config";

const campusConfig = config.campus.find((c) => c.internalName === "kanakapura");


import Overview from "../components/Overview.astro";
import Events from "../components/landingPage/Events.astro";
import Program from "../components/Program.astro";
import HappyCurriculum from "../components/landingPage/HappyCurriculum.astro";


import FindCenter from '../components/findCenter.astro'
import MeetCharacters from "../components/landingPage/MeetCharacters.astro";

---

<Layout title="Home | Best International K12 Primary Schools South bengalore Electronic City">
  <div class="flex flex-col">
    <TopNavigationBar />
    <div
      class="hero flex"
    >
      <AnotherHero />
    </div>
    <Overview />
    <Why/>
    <!-- <MeetCharacters /> -->
    <HappyCurriculum />
    <Program  />
    <DaycareFacilities />
    <FindCenter/>
    <Events />
    <Testimonial />
    <GoToCta />
    <Footer /> 

  </div>
</Layout>
<style>
  .float {
    position: fixed;
    /* background-color:#25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
