---
import { marked } from "marked";
import Collapsible from "./admissions/Collapsible.astro"
import Text from "./system/Text.astro";
const { faqs } = Astro.props

// const faqs = [
//   {
//     question: 'Are you involved in the recruitment of teachers?',
//     answer: 'Yes, we assist our franchise partners in recruiting qualified and experienced teachers. Our established recruitment processes and clear guidelines ensure that each franchise centre is assisted with choosing dedicated and capable staff members.'
//   },
//   {
//     question: 'What training is provided to franchise owners?',
//     answer: 'We offer comprehensive training programs covering preschool management, curriculum implementation, administrative procedures, and business operations. This training equips franchise owners with the knowledge and skills necessary for the successful operation of a Little Elly Preschool.'
//   },
//   {
//     question: 'Is there ongoing support after the franchise is launched?',
//     answer: 'Yes, we provide continuous support and guidance post-launch. Our dedicated support team assists with day-to-day operations, curriculum updates, and marketing strategies, and addresses any challenges or inquiries.'
//   },
//   {
//     question: 'How do you assist with site selection and build-out?',
//     answer: 'We offer site selection assistance based on market analysis and demographic studies. Additionally, we provide guidance and support throughout the build-out process, including facility layout planning, interior design recommendations, and compliance with licensing regulations.'
//   },
//   {
//     question: 'Do you provide marketing materials and support for local advertising?',
//     answer: 'Yes, we offer a range of marketing materials and support for local advertising to help franchise owners effectively promote their preschools within their communities. This includes branding materials, digital marketing assets, and guidance on advertising strategies.'
//   },
//   {
//     question: 'Is there a designated territory for each franchise location?',
//     answer: 'Yes, each franchise location is granted a designated territory to operate within, preventing overlap and providing franchise owners with a defined market area for their marketing efforts.'
//   },
//   {
//     question: 'What health and hygiene protocols do you have in place?',
//     answer: 'We have stringent health and hygiene protocols to ensure the safety of children, staff, and visitors. These include regular sanitization, hand hygiene practices, health screenings, and compliance with relevant health guidelines.'
//   },
//   {
//     question: 'Do you offer transportation services for children?',
//     answer: 'While transportation services are not directly provided, we collaborate with trusted vendors to assist franchise owners in setting up transportation arrangements for their preschools.'
//   },
//   {
//     question: 'How much time does it take to set up a Little Elly preschool?',
//     answer: 'The time required for setup varies but typically takes approximately 25 days, considering factors such as site selection, build-out, licensing procedures, and staff recruitment.'
//   },
// ]
---
<div class="flex flex-col items-center gap-5 ">
  {faqs.map(({ question, answer }) => {
    return (
      <Collapsible title={question} titleClass='font-sans font-bold text-xl max-md:text-lg' class='mb-5' collapseGroup='collapsible' plusButtonClass="w-[35px] h-[35px] ml-1">
        <Text type={'regular'} set:html={marked.parse(answer)} class="[&_a]:underline [&_a]:text-blue-700"></Text>
      </Collapsible>
    )}
  )}
</div>