---
import campusImage from "../image/gotoctabg.jpeg";
import FilledArrowCircle from "./icons/FilledArrowCircle.astro";
import Constrain from "./system/Constrain.astro";
import Text from "./system/Text.astro";
import logo from "../images/logo.png";
import { Image } from "astro:assets";
import Student from "../image/student5.png"

---

<div
  class="flex flex-row items-center justify-between self-stretch shrink-0 relative overflow-hidden
        max-md:p-m max-sm:items-start card bg-[#FEF7F9] p-[40px]"

  onclick="window.location.href='/admissions'"
>
  <div class="flex justify-between w-full max-w-[1200px] m-auto  bg-white rounded-[25px] border-[4px] border-primary border-dashed">
   <div class="flex flex-col px-xl py-l gap-[36px] basis-[50%]">
    <Image src={logo} alt="logo" />
    <Text type="h2" class="text-[#4E000D]">
      Admissions <br> Open <br> for <span class="text-primary">2023-24!!</span>
    </Text>
    <div class="text-primary max-s:hidden button">
      <FilledArrowCircle
        svgClass={"w-[58px] h-[58px] max-md:w-[80px] max-md:h-[80px]"}
        color={"#EE7F82"}
      />
    </div>
   </div>
   <div class="bg-[#FFD1D3] basis-[50%] flex items-center">
    <Image class={'max-h-[400px] object-contain'} src={Student} alt={'student'} />
   </div>

  </div>
</div>

<style>
  .card {
    cursor: pointer;
  }
  .card:hover .img {
    transform: scale(1.05);
  }
  .card:hover .button {
    transform: translateX(40px);
  }
  .button {
    transition: transform 0.5s ease-in-out;
  }
  .img {
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
