---
const { text, classes, style } = Astro.props
let styles = [
  { color: 'red' },    // style for 'a'
  { color: 'blue' },   // style for 's'
  { color: 'green' },  // style for 't'
  { color: 'yellow' }, // style for 'r'
  { color: 'pink' }    // style for 'o'
];
---

  {text.split('').map((letter, index) => (
    <span class={classes[index]}>
      {letter}
    </span>
  ))}